*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.teste{
    display: flex;
    justify-content: center;
    gap:20px
}

.logo{
    width: 75px;
    height: 25px;
    transform: translateY(50%);
}

.desviar{
    display: flex;
    gap: 24px;  
}

.desviar i{
    font-size: 25px;
    color: white;
    transform: translateY(25%);
}

.linha{
    display: flex;
    color:white;
}

.linha p{
    transform: translateY(25%);
}


.input-container{
    position: relative;
    width: 70%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
}

.clear {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none; /* começa escondido */
  color: black;
  font-weight: bold;
}




.input-container input {
  width: 100%;
  height: 35px;
}

.input-container .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 19px;
}

.input-icon input{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px;
}


.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a{
    display: block;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 75px;
    align-items: center;
    justify-content: center;
}



.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}



.modal{
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
}



.fechar{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.modal-container.mostrar{
    display: flex;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.texto{
    color: white;
}


.butoes{
    display: flex;
    flex-direction: row;
}
/* 
.produtos{
    width: 200px;
    height: 50px;

} */

.produtos {
  background: white;
  border: 1px solid;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  width: 200px;
  height: 50px;
}

/* Linha escondida */
.produtos::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: rgba(100, 6, 6, 0.425);
  transition: width 0.3s ease;
}

/* Quando passa o rato */
.produtos:hover::after {
  width: 100%;
}


.listaprodutos{
    overflow-y: auto;
    overflow-y: scroll;

}


.listaservicos{
    overflow-y: auto;
    overflow-y: scroll;

}



.listaprodutos ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    background-color: rgb(240, 229, 229);
}

.listaservicos ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    background-color: rgb(240, 229, 229);
}

div.separar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    cursor: pointer;
}


.outrajanela {
    width: 700px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 400px;
    background-color: rgb(240, 229, 229);
    padding: 20px;
    border-left: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
/* 
.modal{
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
} */

.outrajanela{
    display: flex;
    flex-direction: column;
    display: none;
}

.outrajanela li ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}



.outrajanela.mostrar{
    display: flex;
}

.outrajanela li p{
    width: 100px;
    margin-bottom: 20px;
}

.outrajanela li ul{
    font-size: 12px;
    padding-bottom: 30px;
}

.outrajanela li ul img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    
}

.outrajanela>p{
    font-size: 22px;
}

.outrajanela li p{
    font-size: 16px;
    padding: 10px;
}


.outrajanela{
    overflow-y: auto;
    overflow-y: scroll;

}

.listaservicos{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(240, 229, 229);
}


.listaservicos{
    display: none;
}



.listaservicos.semmostrar{
    display: none;
}


.listaprodutos.semmostrar{
    display: none;
}

.listaservicos.mostrar{
    display: flex;
}


.listaprodutos.mostrar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    background-color: rgb(240, 229, 229);
}

.azul:hover{
    background-color: darkblue;
}


.vermelho:hover{
    background-color: red;
}

.vermelho.ativo{
    background-color: red;
}

.azul.ativo{
    background-color: blue;
}


.texto2{
    background-color: rgba(73, 71, 71, 0.294);
    margin-bottom: 0;
    padding: 10px;
}

.subtitulo2{
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-bottom: 25px;
    font-size: 15px;
}



.sidebar ul li a.caixaazul{
    padding: 10px;
    text-decoration: none;
    color: blue;
    background-color: white;
}


.sidebar ul li a.caixavermelha{
    padding: 10px;
    text-decoration: none;
    color: red;
    background-color: white;
}


.container {
  display: flex;
  gap: 5px;
}

.container2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.img2{
    grid-row: 1;
}

.img3{
    grid-row: 2;
}

.img2 img{
  width: 100%;
  height: 100%;
  
}

.img3 img{
  width: 100%;
  height: 100%;
}


.img1 {
  width: 50%;     
  height: 500px; 
}

.img1 .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}


/*
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  gap: 10px;
}

/* esquerda 
.img1 {
  grid-column: 1;
  grid-row: 1 / 3;
}

/* direita topo 
.img2 {
  grid-column: 2;
  grid-row: 1;
}

/* direita baixo 
.img3 {
  grid-column: 2;
  grid-row: 2;
}

/* MUITO IMPORTANTE 
.img1,
.img2,
.img3 {
  height: 100%;
}

/* swiper ocupar tudo 
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
}

/* imagens 
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
  */

.img1 {
  position: relative; /* necessário para posicionamento interno */
}

/* setas */
.img1 .swiper-button-prev,
.img1 .swiper-button-next {
  top: auto !important;
  bottom: 50px !important;
  transform: none !important;
}

/* posicionamento horizontal */
.img1 .swiper-button-prev {
  left: 20px !important;
  right: auto !important;
}

.img1 .swiper-button-next {
  right: 10px !important;
  left: auto !important;
}


.texto1{
  position: absolute;
  top: 15%;
  left: 73%;
  color: white;
}

.texto1 h1{
  font-size: 25px;
}


.texto2{
  position: absolute;
  top: 37%;
  left: 73%;
  color: black;
  background: none;
}

.texto2 h1{
  font-size: 25px;
}

.texto3{
  position: absolute;
  top: 25%;
  left: 50%;
  color: white;
}

section{
  background-color: white;
}

.figura{
  display: flex;
  justify-content: space-around;

}

.objeto{
  display: flex;
}

.objeto i{
  font-size: 25px;
  color:rgb(22, 231, 68);
}

.img2 i{
  background-color: transparent;
  position: relative;
  
}

.img2 i{
  position: absolute;
  top: 140px;
  right: 5px;
  font-size: 20px;
  color: white;
}

.img3 i{ 
  background-color: transparent;
  position: relative;
}

.img3 i{
  position: absolute;
  top: 140px;
  right: 5px;
  font-size: 20px;
  color: black;
}

.imagem{
  background-color: #f6f6f6;
  
}

.icones{
  margin: 0 200px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.class1 img{
  width: 100px;
  height: 100px;
}
.class1{
  margin: 20px;
}



.img4{
  margin: 0 200px;
  background-color: red;
}

.img4 img{
  margin-left: 30px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.img4 .texto4{
  position: absolute;
  top: 30%;
  left: 35%;
  color: white;
  font-size: 10px;
}


.botao a{
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 20px; /* borda arredondada */
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 1200px;
}

.botao a:hover {
  background-color: #0056b3;
}

.mudardecor2{
  background-color: #ededed;
}

.produtosxl{
  margin-left: 200px;
  display: flex;
  gap: 30px;
}

.produtoparaxl{
  width: 200px;
  height: 402px;
  background-color: white;
  position: relative;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.produtoparaxl img{
  width: 144px;
  height: 144px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.produtoparaxl a.textoparaxl{
  position: absolute;
  width: 200px;
  top: 90%;
  left: 10%;
  color: black;
}

.produtostopyou{
  background-color: white;
  padding: 20px;
  position: relative;
}

.produtostopyou:hover, .produtoparaxl:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.textoemvermelho{
  color: red;
}

.produtostopyou{
  border-radius: 15px;
}

.produtostopyou img{
  width: 176px;
  height: 132px;
}

.produtostopyou i.fa-star{
  color: rgb(255, 223, 41);
}

.botaovermelho{
  padding: 15px 35px;
  color: white;
  background-color: red;
  border-radius: 25px;
  border: none;
}

.juntarbotoes{
  display: flex;
  gap: 30px;
  position: absolute;
  top: 350px;
}

.fa-heart{
  position: absolute;
  left: 150px;
  bottom: 10px;
}


.juntarestrela{
  display: flex;
  flex-direction: row;
}

.letra{
  font-size: 15px;
  vertical-align: super;
}

.produtostopyou .classec{
  width: 37px;
  height: 22px;
}



.produtostopyou .img10{
  float: left;
}

.textoviu{
  width: 200px;
  font-size: 20px;
  word-wrap: break-word;

}




.mudardecor2{
  position: relative;
}

.esquerda, .direita{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: black;
  border-radius: 50%;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.esquerda{
  left: 270px;
}

.direita{
  right: 290px;
}

.carousel{
  position: relative;
  width: 1300px;
  overflow: hidden;
  margin: auto;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}

.direita .fa-greater-than{
  font-size: 25px;
}


.esquerda .fa-less-than{
  font-size: 25px;
}

.sublinhado{
  text-decoration: line-through;
}

.diferente{
  margin-left: 200px;
}

.fa-cart-shopping{
  color: white;
}
